body, margin {
  margin: 0;
  padding: 0;
  background-color: aqua;
}

.mainApp {
  height: 100vh;
}

section {
  display: flex;
}

/*----------------Header--------------------*/

.headerContainer {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
}

.headerTitle {
  background-color: firebrick;
  width: 50%;
  text-align: center;
}

.headerTitle h1 {
  margin: 10px 0 10px 0;
  font-size: 5rem;
}

.headerTitle p {
  margin: 0 0 10px 0;
}

/*----------------Header--------------------*/



/*----------------Player section--------------------*/
.playerSection{
  width: 25%;
  height: 787px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.playerInfo {
  width: 90%;
  height: 375px;
  background-color: pink;
}

.playerImage {
  width: 70%;
  height: 375px;
  background-color: yellow;
}
/*----------------/Player section--------------------*/



/*----------------Board section--------------------*/
.boardSection {
  width: 50%;
  height: ;
  background-color: green;
}
.missionBoard {
  height: 550px;
  background-color: indigo;
}
/*----------------/Board section--------------------*/



/*----------------Decision section--------------------*/

.decisionSection {
  width: 25%;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.playersDecision {
  width: 90%;
  height: 375px;
  background-color: orange;
}
.missionDecision {
  width: 90%;
  height: 375px;
  background-color: brown;
}

.passMission {
  background-color: purple;
  height: 50%;
}
.failMission {
  background-color: grey;
  height: 50%;
}
/*----------------/Decision section--------------------*/



/*----------------Chatbox section--------------------*/
.chatSection {
  background-color: violet;
  height: 237px;
}
/*----------------/Chatbox section--------------------*/
